* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  color: black;
}

:root {
  --main-color: #9356DC;
  --secondary-color: #FF79DA;
  --accent-color: #99E2D0;
  --accent-secondary-color: #008766;
  --icon-color: #7e7e7e;
  --background-color: #F7F7F7;
  --footer-color: #353535;
}

* {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand", cursive;
  text-align: center;
  font-size: 1.875rem;
  padding: 0.4em 0 0.2em;
}

.header__location {
  font-weight: 500;
}

h2 {
  font-size: 1.5rem;
}

.fonctionnement__card-text {
  font-weight: 500;
}

.restaurants__card-title {
  font-size: 1.125rem;
  font-weight: 500;
}

.restaurants__card-subtitle {
  font-weight: 300;
}

.footer__title {
  font-family: "Shrikhand", cursive;
  font-size: 1.125rem;
  color: white;
}

.footer__link {
  color: white;
}

.carte-restaurant__name {
  font-family: "Shrikhand", cursive;
  font-size: 1.75rem;
  font-weight: 400;
}

.carte-category__title {
  font-weight: 300;
  position: relative;
}
.carte-category__title::before {
  content: "";
  position: absolute;
  top: calc(1rem + 4px);
  width: 40px;
  height: 3px;
  background-color: var(--accent-color);
}

.carte-plate__title {
  font-size: 1.125rem;
  font-weight: 500;
}
.carte-plate__description {
  font-size: 0.9375rem;
  font-weight: 300;
}
.carte-plate__price {
  font-size: 0.9375rem;
  font-weight: 700;
}

@media screen and (width > 1024px) {
  .presentation__title {
    font-size: 2.5rem;
  }
}
.primary-button {
  position: relative;
  padding: 0.9rem 1.3rem;
  border: none;
  color: white;
  border-radius: 10rem;
  cursor: pointer;
  background: linear-gradient(180deg, var(--secondary-color) 0%, var(--main-color) 100%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s ease-in-out;
}
.primary-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(180deg, var(--secondary-color) 25%, var(--main-color) 120%);
  z-index: -1;
  opacity: 0;
  border-radius: 10rem;
  transition: opacity 0.2s ease-in-out;
}
.primary-button:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}
.primary-button:hover::before {
  opacity: 1;
}

.like-button {
  font-size: 1.6rem;
  background: transparent;
  z-index: 1;
  pointer-events: none;
}
.like-button.--liked {
  background: linear-gradient(var(--main-color), var(--secondary-color));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  z-index: 0;
  opacity: 0;
  pointer-events: all;
  transition: opacity 0.2s ease-in-out;
}
.like-button.--liked:hover {
  opacity: 1;
}

.presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem 2rem 4rem;
}
.presentation__title {
  margin-top: 0.5rem;
  padding: 0 1rem;
}
.presentation__text {
  margin: 1rem 0 2rem;
  color: var(--footer-color);
  font-weight: 300;
}

.fonctionnement__container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 1.25rem;
}
.fonctionnement__title {
  margin-top: 1.2em;
}
.fonctionnement__card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin: 1.625rem 0 2rem;
}
.fonctionnement__card {
  position: relative;
  display: flex;
  justify-content: flex-start;
  width: min(320px, 100%);
  padding: 1.5em;
  border-radius: 1.25rem;
  background-color: var(--background-color);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}
.fonctionnement__card-icon {
  font-size: 1.2rem;
  margin: 0 1.5rem 0 0.5rem;
  color: var(--icon-color);
}
.fonctionnement__card-number {
  font-size: 0.9rem;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  border-radius: 10rem;
  padding: 0.7em;
  color: white;
  background-color: var(--main-color);
}

.restaurants__container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 1.25rem;
  padding: 1rem;
}
.restaurants__title {
  margin: 2.5rem 0 1.8rem;
}
.restaurants__card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.restaurants__card {
  position: relative;
  display: block;
  flex: 1 1 300px;
  max-width: 400px;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
.restaurants__card-image {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}
.restaurants__card-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8em;
}
.restaurants__card-like {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
}
.restaurants__card-tag {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  width: fit-content;
  padding: 0.4rem 0.6rem;
  border-radius: 0.25rem;
}

@media screen and (width > 950px) {
  .fonctionnement__card-container {
    flex-direction: row;
    gap: 2rem;
  }
  .restaurants__card-container {
    gap: 4rem;
  }
  .restaurants__card {
    flex: 1 0 500px;
  }
}
.restaurant-image {
  width: min(100%, 1000px);
  max-height: 275px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

.carte-restaurant, .carte-wrapper {
  max-width: 900px;
  margin: 0 auto;
}

.carte-restaurant {
  border-radius: 2rem 2rem 0 0;
  padding: 1rem;
  position: relative;
  top: -2rem;
}
.carte-restaurant__title {
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: min(100%, 500px);
}
.carte-restaurant__like {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
}
.carte-restaurant__category {
  margin: 2rem 0;
}
.carte-restaurant__command-button {
  display: block;
  width: fit-content;
  margin: 0 auto;
}

.carte-category {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.carte-category__title {
  width: min(100%, 500px);
}
.carte-category__content {
  width: min(100%, 500px);
  background-color: white;
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.carte-plate__title {
  width: 100%;
}

.footer__container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 1.5rem;
}
.footer__title {
  margin-bottom: 1rem;
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.footer__icon {
  color: white;
  width: 1rem;
  margin-right: 1rem;
}

@media screen and (width > 950px) {
  .footer__container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  .footer__title {
    margin: 0 0 0 5rem;
  }
  .footer__list {
    flex-direction: row;
    gap: 1rem;
  }
  .footer__link:nth-child(2) {
    margin-right: 2rem;
  }
}
.header__location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--background-color);
  filter: brightness(95%);
}
.header__icon {
  margin-right: 1em;
}
.header__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  width: min(100%, 1000px);
  margin: 0 auto;
}
.header__back-link {
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translate(0, -50%);
}

.-c-main {
  color: #9356DC;
}

.-c-bg-main {
  background-color: #9356DC;
}

.-c-secondary {
  color: #FF79DA;
}

.-c-bg-secondary {
  background-color: #FF79DA;
}

.-c-accent {
  color: #99E2D0;
}

.-c-bg-accent {
  background-color: #99E2D0;
}

.-c-accent-secondary {
  color: #008766;
}

.-c-bg-accent-secondary {
  background-color: #008766;
}

.-c-icon {
  color: #7e7e7e;
}

.-c-bg-icon {
  background-color: #7e7e7e;
}

.-c-background {
  color: #F7F7F7;
}

.-c-bg-background {
  background-color: #F7F7F7;
}

.-c-footer {
  color: #353535;
}

.-c-bg-footer {
  background-color: #353535;
}

/*# sourceMappingURL=style.css.map */
