// *************** Loader animations ***************//

//Set the delay before starting the animation on each loader icon
@for $n from 1 through 3 {
	#loader-icon-#{$n} {
		animation: move-loader-icon
			2.5s
			ease-in-out
			calc($n/2) + s
			infinite
			normal
			none;
	}
}

#loader {
	animation: hide-loader 0.5s ease-in-out 3s forwards;
}

#loader-main {
	animation: hide-loader-main 0.5s ease-in-out 3s forwards;
}

@keyframes move-loader-icon {
	0% {
		transform: translate(0, 0) scale(1);
	}

	10% {
		transform: translate(0, 15%) scale(1.05);
	}

	25% {
		transform: translate(0, -100%) scale(1.2);
	}

	50% {
		transform: translate(0, 15%) scale(1.05);
	}

	60% {
		transform: translate(0, 0) scale(1);
	}
}

@keyframes hide-loader {
	100% {
		opacity: 0;
		visibility: hidden;
	}
}

@keyframes hide-loader-main {
	to {
		transform: translate(0, -100%);
	}
}

// *************** carte menu animations ***************//

//select each category of the menu
@for $n from 2 through 4 {
	.carte-restaurant__category:nth-child(#{$n}) {
		transform: translateX(-50%);
		opacity: 0;
		$delay: calc($n - 2);
		animation: menu-display 1.5s ease-in-out $delay + s forwards;
	}
}

@keyframes menu-display {
	to {
		opacity: 1;
		transform: translateX(0%);
	}
}
