// Buttons
.primary-button
{
    position: relative;

    padding: 0.9rem 1.3rem;
    border: none;
    border-radius: 10rem;

    background: linear-gradient(180deg,var(--secondary-color) 0%, var(--main-color) 100%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    
    color: white;
    
    transition: all 0.2s ease-in-out;
    
    cursor: pointer;

    &::before
    {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        
        content: "";
        border-radius: 10rem;
        
        background: linear-gradient(180deg,var(--secondary-color) 25%, var(--main-color) 120%);
        
        transition: opacity 0.2s ease-in-out;
        
        opacity: 0;
    }

    &:hover
    {
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);

        transform: scale(1.05);
        
        &::before
        {
            opacity: 1;
        }
    }
}


.like-button
{
    z-index: 1;

    background: transparent;
    
    font-size: 1.6rem;
    
    pointer-events: none;

    &.--liked
    {
        z-index: 0;

        background: linear-gradient(var(--main-color),var(--secondary-color));
        -webkit-background-clip: text;
        background-clip: text;
        
        color: transparent;
        transition: opacity 0.2s ease-in-out;
        
        opacity: 0;
        pointer-events: all;
        cursor: pointer;

        &:hover
        {
            opacity: 1;
        }
    }
}