@use "../abstracts/" as a;

.loader {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 10;
	@include a.flexbox(column, 0, center, center);

	width: 100vw;
	height: 100vh;
	padding: 1rem;

	background-color: #00000050;

	&__main {
		@include a.flexbox(column, 1rem, start, center);

		padding: 2rem;
		border-radius: 1rem;

		background-color: var(--light-background-color);
		box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
	}

	&__icon-container {
		@include a.flexbox(row, 1rem, center, center);
	}
	&__text {
		text-align: center;
	}
}
