*
{
    font-family: 'Roboto', sans-serif;
}

h1
{
    font-family: 'Shrikhand', cursive;
    text-align: center;
    font-size: 1.875rem;
    padding: 0.4em 0 0.2em;
}

.header__location
{
    font-weight: 500;
}

h2
{
    font-size: 1.5rem;
}

.fonctionnement__card-text
{
    font-weight: 500;
}

.restaurants__card-title
{
    font-size: 1.125rem;
    font-weight: 500;
}

.restaurants__card-subtitle
{
    font-weight: 300;
}

.footer__title
{
    font-family: 'Shrikhand', cursive;
    font-size: 1.125rem;
    color: white;
}

.footer__link
{
    color: white;
}

.carte-restaurant__name
{
    font-family: 'Shrikhand', cursive;
    font-size: 1.75rem;
    font-weight: 400;
}

.carte-category__title
{
    font-weight: 300;
    position: relative;
    &::before
    {
        content: "";
        position: absolute;
        top: calc(1rem + 4px);
        width: 40px;
        height: 3px;
        background-color: var(--accent-color);
    }
}

.carte-plate
{
    &__title
    {
        font-size: 1.125rem;
        font-weight: 500;
    }

    &__description
    {
        font-size: 0.9375rem;
        font-weight: 300;
    }

    &__price
    {
        font-size: 0.9375rem;
        font-weight: 700;
    }
}

.loader__text
{
    text-align: center;
}

// *************** responsive *************** //

@media screen and (width > 1024px)
{    
    .presentation__title
    {
        font-size: 2.5rem;
    }
}