@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");

* {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 1rem;
}
//fonts
.header__title,
.footer__title,
.carte-restaurant__name {
	font-family: "Shrikhand", cursive;
}

//font-weight
.presentation__text,
.restaurants__card-subtitle,
.carte-restaurant__category-title,
.carte-restaurant__description {
	font-weight: 300;
}

.presentation__title,
.fonctionnement__title,
.restaurants__title,
.carte-restaurant__price {
	font-weight: 700;
}

.header__location,
.fonctionnement__card-text,
.restaurants__card-title,
.carte-restaurant__title {
	font-weight: 500;
}

//color
.header__location,
.header__icon,
.presentation__text {
	color: var(--footer-color);
}

.footer__title,
.fonctionnement__card-number,
.carte-restaurant__add i,
.footer__link > a,
.footer__icon,
.primary-button {
	color: var(--light-background-color);
}

.fonctionnement__card-icon {
	color: var(--icon-color);
}

.restaurants__card-tag {
	color: var(--accent-secondary-color);
}

.fonctionnement__card:nth-child(3) i {
	color: var(--main-color);
}

//font-size
.header__title {
	font-size: 1.875rem;
}

.carte-restaurant__name {
	font-size: 1.75rem;
}

.header__back-link,
.carte-restaurant__add i,
.loader__icon-container i,
.like-button,
.presentation__title,
.fonctionnement__title,
.restaurants__title {
	font-size: 1.5rem;
}

.restaurants__card-title,
.fonctionnement__card-icon,
.footer__title,
.carte-restaurant__title {
	font-size: 1.125rem;
}

.carte-restaurant {
	&__description {
		font-size: 0.9375rem;
	}
	&__price {
		font-size: 0.9375rem;
	}
}

// *************** responsive *************** //

@media screen and (width > 950px) {
	.presentation__title {
		font-size: 2.5rem;
	}
}
