@use "../abstracts/" as a;

.presentation
{
    @include a.center-children(column);
    text-align: center;
    padding: 2em;
    background-color: var(--background-color);

    &__title
    {
        margin-top: 0.5em;
        padding: 0 1em;
    }

    &__text
    {
        margin: 1em 0 2em;
        color: var(--footer-color);
        font-weight: 300;
    }
    .primary-button
    {
        margin-bottom: 2em;
    }
}
