@use "../abstracts/" as a;


// *************** Presentation Bloc *************** // 
.presentation
{
    @include a.center-children(column);
    text-align: center;
    padding: 2rem;
    background-color: var(--background-color);

    &__title
    {
        margin-top: 0.5rem;
        padding: 0 1rem;
    }

    &__text
    {
        margin: 1rem 0 2rem;
        color: var(--footer-color);
        font-weight: 300;
    }
    .primary-button
    {
        margin-bottom: 2rem;
    }
}


// *************** Fonctionnement Bloc *************** //
.fonctionnement
{
    padding: 1.25rem;

    &__title
    {
        margin-top: 1.2em;
    }

    &__card-container
    {
        @include a.center-children (column);
        gap: 1.5rem;
        margin: 1.625rem 0 2rem;
    }

    &__card
    {
        position: relative;
        @include a.center-children ();
        width: min(300px, 100%);
        padding: 1.5em;
        border-radius: 1.25rem;
        background-color: var(--background-color);
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    }

    &__card-icon
    {
        margin-right: 1rem;
        color: var(--icon-color);
    }

    &__card-number
    {
        font-size: 0.9rem;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(-50%, -50%);
        @include a.center-children();
        width: 1rem;
        height: 1rem;
        border-radius: 10rem;
        padding: 0.7em;
        color: white;
        background-color: var(--main-color);
    }
}