.restaurant-image
{
    width: min(100%, 1000px);
    max-height: 275px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.carte-restaurant, .carte-wrapper
{
    max-width: 900px;
    margin: 0 auto;
}

.carte-restaurant
{
    border-radius: 2rem 2rem 0 0;
    padding: 1rem;
    position: relative;
    top: -2rem;

    &__title
    {
        margin: 1rem auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        width: min(100%,500px);
    }

    &__like
    {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    }

    &__category
    {
        margin: 2rem 0;
    }

    &__command-button
    {
        display: block;
        width: fit-content;
        margin: 0 auto;
    }
}

.carte-category
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    &__title
    {
        width: min(100%,500px);
    }

    &__content
    {
        width: min(100%,500px);
        background-color: white;
        box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
        border-radius: 1rem;
        padding: 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.carte-plate
{
    &__title
    {
        width: 100%;
    }
}