@use "../abstracts/" as a;

.restaurant-image
{
    display: block;

    width: min(100%, 1000px);
    max-height: 275px;
    margin: 0 auto;
    
    object-fit: cover;
}

.carte-restaurant, .carte-wrapper
{
    max-width: 900px;
    margin: 0 auto;
}

.carte-restaurant
{
    position: relative;
    top: -2rem;

    padding: 1rem;
    border-radius: 2rem 2rem 0 0;

    &__title
    {
        position: relative;

        width: min(100%,500px);
        margin: 1rem auto;
    }

    &__like
    {
        position: absolute;
        top: 50%;
        
        right: 1rem;
        transform: translateY(-50%);
    }

    &__category
    {
        margin: 2rem 0;
    }

    &__command-button
    {
        display: block;
    
        width: fit-content;
        margin: 0 auto;
    }

    &__name
    {
        width: 85%;
    }
}

.carte-category
{
    @include a.center-children(column);
    gap: 1rem;

    &__title
    {
        width: min(100%,500px);
    }

    &__content
    {
        display: flex;

        width: min(100%,500px);
        border-radius: 1rem;
        
        background-color: white;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);

        &:hover .carte-plate__add
        {
            width: 2em;
        }
    }
}

.carte-plate
{
    &__text
    {
        display: flex;
        flex-wrap: wrap;
        flex: 1 1 auto;

        width: 80%;
        padding: 1rem;
    }

    &__title
    {
        width: 100%;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }


    &__description
    {
        width: 80%;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__price
    {
        width: 20%;

        text-align: right;
    }

    &__add
    {
        @include a.center-children();
        flex-shrink: 0;

        width: 0;
        border-radius: 0 1rem 1rem 0;
        
        background-color: var(--accent-color);
        
        font-size: 1.5rem;
        overflow: hidden;
        
        transition: width 0.15s ease-in-out;

        i
        {
            color: white;
        }
    }
}