
.footer
{
    padding: 1.5rem;

    &__title
    {
        margin-bottom: 1em;
    }

    &__list
    {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
    }

    &__icon
    {
        color: white;
        width: 1rem;
        margin-right: 1rem;
    }
}