.footer {
	&__container {
		display: flex;
		flex-direction: column;
		gap: 1rem;

		max-width: 1440px;
		margin: 0 auto;
		padding: 1.5rem;
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 0.3rem;
	}

	&__link {
		&:hover {
			text-decoration: underline;
		}
	}

	&__icon {
		margin-right: 1rem;

		color: white;
	}
}

// *************** responsive *************** //
@media screen and (width > 950px) {
	.footer {
		&__container {
			flex-direction: row-reverse;	
			align-items: center;
			gap: 5rem;
		}

		&__list {
			flex-direction: row;
			gap: 1rem;
		}
		&__link:nth-child(2) {
			margin-right: 2rem;
		}
	}
}
