.footer
{
    &__container
    {
        max-width: 1440px;
        margin: 0 auto;
        padding: 1.5rem;
    }

    &__title
    {
        margin-bottom: 1rem;
    }

    &__list
    {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
    }

    &__icon
    {
        width: 1rem;
        margin-right: 1rem;
        
        color: white;
    }
}

// *************** responsive *************** //
@media screen and (width > 950px)
{
    .footer
    {
        &__container
        {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
        }
        
        &__title
        {
            margin: 0 0 0 5rem;
        }
        
        &__list
        {
            flex-direction: row;
            gap: 1rem;
        }
        &__link:nth-child(2)
        {
            margin-right: 2rem;
        }
    }
}