//color map
$colors: (
	main: #9356dc,
	secondary: #ff79da,
	accent: #99e2d0,
	accent-secondary: #008766,

	icon: #7e7e7e,

	background: #f7f7f7,
	light-background: #ffffff,
	location-background: #eaeaea,

	footer: #353535,
);
